.connectMessage {
  font-family: "Inter";
  color: #34d399;
  text-align: center;
  font-weight: 600;
  margin: 8px 0;
}

.disconnectMessage {
  font-family: "Inter";
  color: #ef4444;
  text-align: center;
  font-weight: 600;
  margin: 8px 0;
}

.userMessage {
  font-family: "Inter";
  color: black;
  text-align: left;
  font-weight: 600;
  margin: 8px 0;
}
