$primary: #3d6aff;

.screenLayout {
  width: 100%;
  background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  width: 100%;
  padding: 50px 20px;
  border-radius: 4px;
}

.header {
  font-family: "Inter";
  font-size: 2rem;
  font-weight: 700;
  color: $primary;
}

.form {
  padding: 20px 0;
}

.input {
  width: 100%;
  padding: 8px 10px;
  margin-top: 15px;
  border-color: $primary;
  font-size: 15px;
  font-weight: 600;
  border: 3px solid $primary;
  outline: none;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;

  &:focus {
    border: 4px solid $primary;
  }
}

.autofillSuccess {
  font-family: "Inter";
  color: #34d399;
  margin-top: 5px;
  font-weight: bold;
  font-size: 10px;
}

.joinButton {
  cursor: pointer;
  background-color: $primary;
  color: white;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  padding: 15px 0;
  border: transparent;
  margin-top: 10px;
  border-radius: 5px;
}
